*
{
    margin: 0;
    padding: 0;
}
body{
    background: rgba(172, 255, 47, 0.7);
}
header
{
    background-image: linear-gradient(11deg, rgba(251, 251, 23, 0.485), rgba(14, 248, 14, 0.507), rgba(7, 7, 157, 0.507));
}

.slogan_logo
{
    display: flex;
    align-items: center;
    padding: 5px;
}
.logo
{
    height:40px;
    margin-right: 6px;
}

.contanier
{
    padding: 15px;
    display: flex;
    justify-content: flex-end;
}
nav{
    background: rgba(172, 255, 47, 0.421);
    
    width: 60%;
}
nav ul
{
    display: flex;
    list-style:none;
    
}
nav a
{
    text-decoration: none;
    font-size: 27px;
    color: yellowgreen;
}
nav li
{
    margin: 0 10px;
}

nav a:hover 
{
    color:  rgba(95, 95, 187, 0.507);
}

.footer
{
     background-image: linear-gradient(11deg, rgba(251, 251, 23, 0.485), rgba(14, 248, 14, 0.507), rgba(7, 7, 157, 0.507));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
    text-align: center;
    background: rgba(172, 255, 47, 0.7);

}
.footer p
{
        margin: 6px 0;
}
.main_GRID
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid
{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit,20%);
    gap: 4%;
    padding: 4% 0 4% 4%;
    
}
.afisha
{
    width: 100%;
}
.grid .name
{
    font-size: minmax(20px, 40px);
    text-align: center;
    width: 100%;
}

.grid .desc
{
    font-size: 0;
    transition:1s ;
}

.item:hover
{
    .desc
    {
        width: 100%;
        font-size: 25px;
        padding-bottom: 40px;
        transition: 1s;
    }
    
}
.main
{
   padding: 20px 20% 20px;
   font-size: 25px;
   text-align: center;

}

.collag
{
    width: 80%;

}

.robo
{
    width: 50%;

}

.main p
{
    padding-bottom: 20px;
}

@media all and (max-width: 500px) {
    .grid
{
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 200px));
    gap: 19px;
}

header{
    width: 100%;
}
nav ul
{
 display: flex;
 flex-direction: column;
}
}

